{% extends 'base.html.twig' %}

{% block title %}Fiche Article{% endblock %}

{% block body %}

<div class="example-wrapper">
<div class="text-center"><h1>Fiche Article n° {{article.id}}</h1></div>
    
    <div class="col">
    
    <div class="card text-white bg-primary mb-3 text-center">
            <h3 class="card-header">{{article.libelle}}</h3>
            <img style="height:200px; width:100%, display:block;" src="{{article.image}}" alt="image">
            <div class="card-body">
                <p class="card-text">{{article.description}}</p>
                <p> {{article.prix}} euros </p>
            </div>
        </div>  
    
    </div>
</div>
{% endblock %}
